.container {
  display: flex;
  justify-content: space-evenly;
}
.myForm {
  display: flex;
  justify-content: center;
}
.submitBtn {
  text-align: center;
}

.formInput {
  margin-bottom: 1rem;
}

.formError {
  background-color: red;
  color: white;
  text-align: center;
}
